@font-face {
    font-family: Helvetica;
    src: url("/asset/font/Helvetica.ttf");
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
    align-items: center;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.bg-image {
    background-image: url("/asset/image/png.img/bg-img.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    position: relative;
    top: 0;

}

/* ********_______nav-bar______******* */
.menu-icon-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.links {
    display: flex;
    align-items: center;
}

.nav-links {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    text-align: left;
    color: #FFFFFF;
}


/* *******_______position______****** */
.position-relative {
    position: relative;
}

.position-absoulute {
    position: absolute;
}

/* z-index  */
.z-3 {
    z-index: 3;
}

/* *******_____display-property______******** */
.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}


/* ********_______center-property_________******* */
.justify-item-center {
    justify-items: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}


/* *********_______space-between______******* */
.justify-content-space-between {
    justify-content: space-between;
}

/* *********______height______******** */
.min-h-100 {
    min-height: 100vh;
}

/* ********______width_______****** */
.w-100 {
    width: 100%;
}

/* padding  */
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}



/* margin  */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* gap */
.gap-24 {
    gap: 24px;
}



.overflow-x {
    overflow-x: auto;
}

.started-btn {
    padding: 12px 20px;
    border-radius: 0px 50px 50px 50px;
    border: none;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: left;
    white-space: nowrap;
}

.main-heading {
    font-family: Helvetica;
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 16px;
}

.main-heading-focus {
    font-weight: 700;
}

.para {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    opacity: 90%;
}

.input {
    border: 1px solid #00000033;
    padding: 24px 150px 24px 22px;
    gap: 0px;
    border-radius: 0px 100px 100px 50px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    width: 100%;
    outline: 0;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
    text-align: left;
    color: #00171F;
}

.compare-btn {
    padding: 12px 20px 12px 20px;
    border-radius: 0px 50px 50px 50px;
    border: none;
    background: #00A8E8;
    color: #ffffff;
    position: absolute;
    right: 1%;
    top: 13%;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: left;
    cursor: pointer;
}

.girl-img {
    border-radius: 4px;
    z-index: 2;
}

.text-companies {
    font-family: Helvetica;
    font-size: 38px;
    font-weight: 400;
    line-height: 41.8px;
    text-align: left;
    color: #003459;
}

.text-eighty {
    font-weight: 700;
    color: #00A8E8;
}

.dots {
    position: absolute;
    top: 13%;
    right: 0%;
    z-index: 1;
}

.switching-text {
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    color: #00171F;
    margin-bottom: 16px;
}

.fw-normal {
    font-weight: 400;
}

.para-2 {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #00171F;
    margin-bottom: 38px;
}

.benefits {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.4px;
    text-align: left;
    color: #003459;
    margin-bottom: 28px;
    text-transform: capitalize;
}

.benifits-points {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #00171F;
    list-style-type: disc;
    margin-bottom: 8px;
}

.compare-us-btn {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: left;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 0px 50px 50px 50px;
    background: #00A8E8;
    color: #ffffff;
    border: none;
    margin-top: 22px;
}

.icons {
    padding-top: 50px;
}



@media (max-width:375px) {
    .compare-btn {
        right: 15%;
        top: 110px;
        transform: translate(-50%, -50%);
    }

    .input {
        border: 1px solid #00000033;
        padding: 24px 22px;
    }

    .text-companies {
        margin-top: 90px;
    }
}

@media (max-width:991.98px) {
    .links {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0px;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: #09476e;
        transition: all 200ms linear;
    }

    label[for="openslider"] {
        width: 40px;
        height: 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }

    label[for="openslider"] span {
        width: 100%;
        height: 5px;
        background-color: #ffffff;
        border-radius: 3px;
        transition: all 200ms linear;
    }

    input:checked~.links {
        left: 0;
    }

    input:checked~label[for="openslider"] span:first-child {
        transform: rotate(30deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:last-child {
        transform: rotate(-30deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:nth-child(2) {
        transform: translateX(-40px);
        opacity: 0;
        visibility: hidden;
    }

    .flex-direction-column-786px {
        flex-direction: column;
    }

    .pb-40 {
        padding-bottom: 40px;
    }

    .pt-60 {
        padding-top: 60px;
    }

    .para {
        margin-bottom: 22px;
        text-align: center;
    }

    .main-heading {
        text-align: center;
    }

    .mb-22 {
        margin-bottom: 22px;
    }

    .mb-24 {
        margin-bottom: 24px;
    }

    .text-companies {
        color: #ffffff;
        text-align: center;
    }

    .nav {
        position: fixed;
        left: 0;
        right: 0;
        background: #09476e;
        z-index: 5;
    }

    .ms-10 {
        margin-left: 10px;
    }

    .me-10 {
        margin-right: 10px;
    }

    .mt-50 {
        margin-top: 50px;
    }
        .mt-24 {
            margin-top: 24px;
        }
}

@media (min-width:992px) {


    .para {
        max-width: 506px;
        margin-bottom: 42px;
    }

    .col-lg-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .compare-btn {
        position: absolute;
        right: 2%;
        top: 16%;
    }

    .girl-img {
        transform: translateY(20%);
    }

    .text-companies {
        transform: translateY(153px);
    }

    .icons {
        padding-top: 203px;
    }

    .pt-lg-162 {
        padding-top: 162px;
    }

    .mw-lg-409 {
        max-width: 409px;
    }

    .compare-us-btn {
        margin-top: 42px;
    }

    .gap-45 {
        gap: 45px;
    }

    
}

@media (min-width:1040px) {
    .text-companies {
        transform: translateY(200px);
    }
}

@media (min-width:1100px) {
    .text-companies {
        transform: translateY(250px);
    }
}

@media (min-width:1200px) {
    .bg-image {
        border-bottom-left-radius: 100px;
    }

    .input {
        max-width: 476px;
    }

    .compare-btn {
        right: 14%;
    }

    .text-companies {
        transform: translateY(280px);
    }

}

@media (min-width:1400px) {
    .bg-image {
        border-bottom-left-radius: 200px;
    }

    .dots {
        right: -14%;
    }

}